* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 98vw;
}

.grid-container {
    display: grid;
  }

.left-container {
    margin: 0 auto;
    overflow: hidden;
    width: 40%;
    text-align: center;
}

.right-container {
    margin: 0 auto;
    overflow: hidden;
    width: 60%;
    text-align: center;
}

.row {
    width: 100%;
}

.chart {
    width: 100%;
}